body {
    background-color: darkslategray;
    }
li {
    border-bottom: 1px dashed darkblue;
    font-style: italic;
    }
a:hover {
    text-decoration:underline;
}  
a:visited {
    color: greenyellow;
}