#header{
    font-size: 200%;
    background-color: cornflowerblue;
    color: darkblue;
    font-family: fantasy;
}

a:link {
	text-decoration: none;
    color: purple;
	}				
a:visited {
	text-decoration: none;
    color: greenyellow;
	}
a:hover {
	text-decoration: underline;
	color: purple;
    font-weight: bold;
	}				
a:active {
	text-decoration: none;
    color: purple;
    }
#footer{
    font-size: 65%;
    background-color: cornflowerblue;
    color: darkblue;
    position: absolute;
    bottom: 0;
    width:100%;
}
