#header{
    font-size: 200%;
    background-color: lavenderblush;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link {
	text-decoration: none;
    color: purple;
	}				
a:visited {
	text-decoration: none;
    color: darkcyan;
	}
a:hover {
	text-decoration: underline;
	color: purple;
    font-weight: bold;
	}				
a:active {
	text-decoration: none;
    color: purple;
    }
#footer{
    font-size: 65%;
    background-color: lavenderblush;
    color: green;
}
