#header{
    font-size: 200%;
    background-color: lavenderblush;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navigation{
    font-size: 50%;
     background-color: lavenderblush;
}

#footer{
    font-size: 65%;
    background-color: lavenderblush;
    color: green;
}